// ========================================
//   #settings.colors
// ========================================

$color-background: #1D1F20
$color-green: #0EC31C

// Impeachmap
$color-impeachmap-yellow: #fbcc0d
$color-impeachmap-blue:   #0cc6de
$color-impeachmap-green:  #02a552

// Gauge
$color-gauge-red:    #EB5E56
$color-gauge-yellow: #F7BF33
$color-gauge-green:  #69CA42
