// ========================================
//   #settings.colors
// ========================================

$color-background: #F9F9F9
$color-pink: #F75455
$color-gray: rgba(black, .1)

// Social
$color-twitter: #326ADA

