// ========================================
//   #trumps.helpers
// ========================================

.text-align-center
  text-align: center !important

.opaque
  opacity: 1 !important

.bg-center-cover
  background-size: cover
  background-position: center

.no-padding-bottom
  padding-bottom: 0
