meta name='description' content="#{data.page.description}"
meta property='og:url' content="#{@site_url}#{data.page.url}"
meta property='og:title' content="#{data.page.title}"
meta name='twitter:title' content="#{data.page.title}"
- if data.page.image
  meta property='og:image' content="#{@site_url}/#{image_path(data.page.image)}"
  meta name='twitter:image:src' content="#{@site_url}/#{image_path(data.page.image)}"
meta property='og:description' content="#{data.page.description}"
meta name='twitter:site' content="#{@site_twitter}"
meta name='twitter:creator' content="#{@site_name}"
meta property='article:author ' content="#{@site_name}"
meta property='og:site_name' content="#{@site_name}"
meta name='twitter:card' content='summary_large_image'
