// ========================================
//   #components.profile-photo
// ========================================

.profile-photo
  background-image: image-url('kande_profile.jpg')
  background-blend-mode: multiply
  background-size: cover
  position: absolute
  bottom: 0
  right: 0
  width: 38vw
  height: 38vw

  +bp(lg-only)
    left: 50%
    right: initial
    transform: translateX(-50%)

  +bp(md-only)
    width: 46vw
    height: 46vw
