// ========================================
//   #components.copyright
// ========================================

.copyright
  font-size: 12px
  font-family: $font-heading
  letter-spacing: .1em

.copyright__link
  color: $color-pink

  &:hover, &:focus
    opacity: .7
