// ========================================
//   #components.sections
// ========================================

.section
  background-color: $color-background
  position: relative

.section--green
  background-color: $color-green

.section--darker
  background-color: darken($color-background, 2deg)

.section--padding
  padding: 30px 0
