// ========================================
//   #components.buttons
// ========================================

.btn
  padding: 16px 36px
  border: 1px solid white
  border-radius: 2px
  color: white
  display: inline-block
  text-align: center
  font-size: 14px
  transition: .2s

  &:hover
    background-color: $color-pink
    border-color: $color-pink

  +bp(md-only)
    padding: 10px 20px
    background-color: $color-pink
    border-color: $color-pink

.btn--twitter
  padding: 3px 14px
  font-size: 12px
  background-color: $color-twitter
  border-color: $color-twitter
  margin-left: 4px

  &:hover
    background-color: darken($color-twitter, 6deg)
    border-color: darken($color-twitter, 6deg)

.btn--event
  background-color: transparent
  border-color: white

.btn--disable
  background-color: $color-background
  border-color: $color-background

  &:hover
    background-color: $color-background
    border-color: $color-background
