// ========================================
//   #components.social-links
// ========================================

.social-links
  padding: 40px 0

.social-links__title
  font-size: 18px

  a
    font-weight: 700
    color: $color-green

  +respond-to(medium)
    font-size: 28px

.social-links__list
  margin-top: 24px

  +respond-to(small)
    margin: 16px auto 0
    width: 90%
    line-height: 2

.social-links__link
  color: rgba(white, .6)
  transition: .2s
  margin: 0 12px

  &:hover
    color: $color-green

  +respond-to(small)
    font-size: 18px !important
    margin: 0 4px
    padding: 12px
    width: 20px
