// ========================================
//   #components.sections
// ========================================

.section
  background-color: $color-background
  position: relative
  padding: 2em 0

.section--white
  background-color: white
  box-shadow: 0 0 2em rgba(black, .1)
  z-index: 1
