// ========================================
//   #components.buttons
// ========================================

.btn
  padding: 16px 36px
  border: 1px solid white
  border-radius: 2px
  color: white
  display: inline-block
  text-align: center
  font-size: 14px
  transition: .2s

  &:hover
    background-color: $color-green
    border-color: $color-green
