// ========================================
//   #components.hero
// ========================================

.hero
  padding: 130px 0
  text-align: right
  position: relative

.hero__title,
.hero__subtitle
  color: white

.hero__title
  font-size: 60px
  font-weight: 800

.hero__subtitle
  font-size: 18px
  margin-top: 10px
  line-height: 1.2

.hero__paragraph
  color: rgba(white, .7)
  font-size: 14px
  line-height: 1.4
  margin-bottom: 20px

  +respond-to(medium)
    font-size: 18px

  a
    border-bottom: 1px dotted rgba($color-green, .7)
    transition: .2s

    &:hover
      color: $color-green

.hero__tip
  font-size: 13px
  margin-top: 8px

  span
    opacity: .5

.hero--inline
  padding: 40px 0
  text-align: center
  line-height: 1.4

.hero--left
  text-align: left

.hero--small
  padding: 60px 0
