---
title: Impeachmap
description: Veja como a Câmara dos Deputados votou pela admissibilidade do processo de impeachment da Presidente Dilma.
image: og-images/impeachmap.jpg
url: /impeachmap
---

.section sorry, but I got tired of this page.
