---
title: Hello, Folks!
description: I'm a web developer that cares a lot for the open source community and currently working for Startaê, a UX design team on demand.
image: og-images/hello_folks.jpg
url: /
---

.section.section--green
  .container
    .profile-photo
    .hero
      .hero__title Hello, Folks!
      .hero__subtitle My name is Kande Bonfim.
  .gth-buttons
    iframe src="https://ghbtns.com/github-btn.html?user=kandebonfim&repo=kandebonfim&type=star&count=true" frameborder="0" scrolling="0" width="83px" height="20px"
    iframe src="https://ghbtns.com/github-btn.html?user=kandebonfim&type=follow&count=true" frameborder="0" scrolling="0" width="176px" height="20px"

.section
  .container
    .hero.hero--inline.text-align-center
      .hero__paragraph I'm a web developer that cares a lot for the open source community and currently working for <a href="#{data.links.startae}" target="_new">Startaê</a>, a UX design team on demand.
      .hero__paragraph
        | I code a lot in Ruby, Rails, Ember.js, CoffeeScript/ECMAScript6, D3.js and I'm very curious about OculusRift, RaspberryPI, and all that random tech stuff.
        .hero__tip
          span ok, I had a past affair with PHP and WordPress too.
          |  😐
      .hero__paragraph That is not everything, I became involved with many other things until they fit as fit today. But that is a story for another URL.
      = link_to 'read my story', 'my-story', class: 'btn'

.section
  .container
    .tab
      .tab__header
        .tab__handler Events
      .tab__content
        - data.events.each do |project|
          .article.article--event.bg-center-cover style="background-image: url(#{image_path(project.image)})"
            .article__info
              .article__title data-label=project.label = project.title
              .article__excerpt = project.excerpt
            .article__link
              - if project.unavailable
                .btn.btn--disable unavailable yet
              - else
                = link_to 'details / tickets', project.link, target: '_blank', class: 'btn'

    .tab
      .tab__header
        .tab__handler Latest Articles
      .tab__content
        - data.articles.each do |article|
          .article
            .article__info
              .article__title = article.title
              .article__excerpt = article.excerpt
            .article__link
              = link_to 'read more', article.link, target: '_blank', class: 'btn'

    .tab
      .tab__header
        .tab__handler Open Source Projects
      .tab__content
        - data.open_source_projects.each do |project|
          .article
            .article__info
              .article__title
                = project.title
                iframe.article__gh src="https://ghbtns.com/github-btn.html?user=kandebonfim&repo=#{project.repo}&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"
              .article__excerpt = project.excerpt
            .article__link
              = link_to 'view project', project.link, target: '_blank', class: 'btn'
